.modal {
  background: hsl(242deg 38% 27%);
  margin: 51px 24px;
  padding-bottom: 28px;
  padding-top: 0;
  position: fixed;
  top: -50px;
  left: 0;
  z-index: 11;
  display: none;
  overflow-y: auto;
  height: 100vh;
}

.window-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 10%;
}

.window-flex h3 {
  font-size: 20px;
  line-height: 28px;
}

.window-flex a {
  font-size: 40px;
}

.window-img {
  background-color: red;
  background-image: url("images/Snapshoot.png");
  width: 80%;
  margin: 0 10% 10% 10%;
}

.window-p {
  text-align: center;
  margin: 0 10%;
  font-size: 16px;
}

.window-list {
  display: flex;
  justify-content: space-between;
  padding: 7% 10%;
}

.wdesk {
  display: none;
}

.v-line {
  height: 40px;
  width: 2px;
  background-color: #555;
}

.window-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}

.Window-project {
  width: 108px;
  height: 48px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.window-power-logo {
  width: 18px;
  height: 18px;
}

.window-source {
  margin: 24px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 124px;
  height: 48px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 3%;
}

.popUpAppear {
  display: block;
}

.popUpDisappear {
  display: none;
}

@media all and (min-width: 768px) {
  .modal {
    background: hsl(242deg 38% 27%);
    margin: 112px 10% 0 5%;

    /* padding-bottom: 28px;
      padding-top: -100px; */
    position: fixed;
    padding-top: 24px;
    top: -100px;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    width: 90%;
    height: 100vh;
  }

  .window-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 31px 10%;
  }

  .window-img {
    background-image: url("images/Snapshoot.png");
    width: 95%;
    margin: 40px 2%;
  }

  .window-p {
    text-align: center;
    margin: 0 20%;
    font-size: 16px;
  }

  .window-list {
    display: flex;
    justify-content: space-between;
    padding: 7% 10%;
    margin: 0 20%;
  }

  .wdesk {
    display: block;
  }

  .window-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 48px 33% 10% 33%;
  }

  .Window-project {
    width: 108px;
    height: 48px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .window-source {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 124px;
    height: 48px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 3%;
  }
}
